<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" />
</head>
<body>

<div id="react"></div>
<div id="react1"></div>
<!--<div id="root"></div>-->

<footer>
    <div class="my-container my--text-center">
        Made with ♥ by <a href="https://www.instagram.com/charodeistranyoz/">Mihayluk V.V</a>
    </div>
</footer>

<script src="built/bundle.js"></script>
</body>
</html>